<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="/stylesheets/main.css">

  <title>YelpCamp</title>
</head>

<body>
  <div class="page-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a href="/" class="navbar-brand">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <form action="/campgrounds" method="GET" class="form-inline">
                <div class=form-group">
                  <input type="text" name="search" placeholder="Campground Search..." class="form-control">
                  <input class="btn text-decoration-none mr-2" type="submit" value="Search" id="searchBtn">
                </div>
              </form>
            </li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            <% if (!user) { %>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="/register">Sign Up</a></li>
            <% } else { %>
            <li class="nav-item"><a class="nav-link" href="">Signed In As <%= user.username %></a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container pt-3">
      <% if (error && error.length > 0) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error-alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!-- Hide after time out alert banner -->
        <!-- $(document).ready(()=> { %>
          $("#error-alert").fadeTo(2000, 500).slideUp(500, () => { %>
            $("#error-alert").slideUp(500); %>
          }); %>
         }); %> -->
      </div>
      <% } %>
      <% if (success && success.length > 0) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
    </div>