<%- include("partials/header") %>
<div class="container">
  <div>
    <h1 style="text-align: center; margin-top: 30px;">Create a New Campground</h1>
    <div style="width: 30%; margin: 30px auto;">
      <form action="/campgrounds" aria-placeholder="Name" method="post">
        <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="Name" id="">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="image" placeholder="Image URL" id="">
        </div>
        <div class="form-group">
          <button class="btn-primary btn btn-block">Submit</button>
        </div>
      </form>
      <a href="/campgrounds">Go Back</a>
    </div>
  </div>
  <%- include("partials/footer") %>
</div>